.Light div {
    display: inline-flex;
    height: 58px;
    width: 58px;
    margin: 0;
    border: 1px solid #404040;
    background-color: black;
    float: left;
}

.Light .Lit {
    background-color: blue;
}